.login-bg {
  z-index: 0;
  position: absolute;
  align-content: center;
  margin-top: -0.5%;
}

.bg {
  z-index: 0;
  position: absolute;
  width: 1535px;
  height: 700px;
}

.login-area {
  z-index: 1;
  position: absolute;
  background: white;
  padding: 25px;
  margin-left: 35%;
  margin-top: 15%;
  padding-top: 7%;
}

.text {
  position: absolute;
  font-size: 50px;
  color: black;
  background: yellow;
  border: solid 1px gray;
  width: 460px;
  height: 100px;
  padding: 15px;
  padding-left: 78px;
  margin-left: -5.4%;
  margin-top: -23.5%;
}

.password {
  width: 410px;
  height: 30px;
  margin-top: 20px;
}

.email {
  width: 410px;
  height: 30px;
  margin-top: 5%;
}

.login-btn {
  width: 410px;
  height: 35px;
  font-size: 15px;
  color: black;
  background-color: yellow;
  margin-top: 40px;
  margin-bottom: 5%;
}

.login-btn:hover {
  background: rgba(255, 255, 0, 0.596);
}

.signup-link {
  font-size: 10px;
  margin-left: 130px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.forgetpass-link {
  font-size: 10px;
  margin-left: 170px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.decor {
  width: 150%;
  height: 400px;
  margin-top: 100px;
  background: #233077;
}