.name- {
    font-size: 60px;
    margin-left: 35%;
}

.chart-name {
    width: 1500px;
    border: solid 5px rgb(196, 174, 196);
    margin-left: 1%;
    box-shadow: 2px 2px 2px gray;
}

.chart {
    margin-top: 3%;
}