.square {
  z-index: 0;
  width: 210px;
  height: 340px;
  background: orange;
  margin-top: -32%;
  margin-left: 10%;
}

.square, .logo, .contact-text {
  position: absolute;
}

.logo {
  z-index: 1;
  width: 320px;
  height: 200px;
  margin-left: 6%;
  margin-top: -25%;
}

.contact-text {
  z-index: 2;
  font-size: 30px;
  color: orange;
  padding-left: 25%;
  align-items: center;
  margin-top: -25%;
}

.name-area1 {
  margin-left: 330%;
  margin-top: -60%;
  border: solid 3px gray;
  width: 250px;
  height: 360px;
  background: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.name-area2 {
  margin-left: 460%;
  margin-top: -143%;
  border: solid 3px gray;
  width: 250px;
  height: 360px;
  background: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.mem-img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  margin-left: 20px;
  margin-top: 10%;
  border: solid 1px gray;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}

.name {
  font-size: 20px;
  padding-left: 35px;
}

.mssv {
  margin-top: 0%;
  padding-left: 35px;
}

.square-decor {
  background-color: rgb(253, 253, 127);
  width: 1200%;
  margin-top: 30%;
  height: 400px;
}