.addmem:hover {
    text-decoration: none;
    color: black;
    background-color: wheat;
    box-shadow: 5px 5px 5px 5px gray;
}

.addmem {
    position: absolute;
    border: solid 2px black;
    background-color: yellow;
    padding-inline: 10px;
    color: black;
    border-radius: 10px;
    margin-left: 73%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn {
    width: 60px;
    height: 50px;
    margin-left: -10px;
}
.nameare1 {
    background: rgb(218, 218, 218);
    width: 250px;
    height: 485px;
    padding: 25px;
    margin-left: 18.3%;
    position: absolute;
}
.begtimetitle {
    margin-top: 5%;
}
.begdatetext, .enddatetext {
    width: 190px;
}
.begdateopt {
    position: absolute;
    width: 190px;
    background: white;
}
.endtimetitle {
    margin-top: 5%;
}
.enametitle {
    margin-top: 35%;
}
.maxptitle {
    margin-top: 5%;
}
.e-button {
    width: 190px;
    border: none;
    background: yellow;
    margin-top: 15%;
}
.e-button:hover {
    background: rgb(255, 255, 193);
}

.avaarea1 {
    border: solid 1px rgb(199, 199, 199);
    width: 800px;
    height: 485px;
    margin-left: 66.3%;
    margin-top: 10%;
}

.eventdetail1 {
    height: 1000px;
}
.eve-img {
    width: 800px;
    height: 300px;
}
.avaarea1 .img {
    margin-top: -2%;
    margin-left: 10px;
}
.edesc1 {
    margin-left: 1%;
    margin-top: 1%;
}
.edescdetail {
    margin-left: 2%;
    width: 700px;
    height: 120px;
}