.newava {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    margin-left: 3%;
}

.upbtn {
    border: solid 1px gray;
    background: yellow;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5%;
    margin-left: 30%;
}

.eventname-text {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 790px;
    height: 50px;
    margin-left: 25%;
    margin-top: -10%;
}

.detail-text {
    word-wrap: normal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 790px;
    height: 100px;
    margin-left: 25%;
    margin-top: -1%;
}

.name-title {
    margin-left: 25%;
    margin-top: -10%;
}

.detail-title {
    margin-left: 25%;
    margin-top: 2%;
}

.begtime-title1 {
    margin-left: 5%;
    margin-top: -2%;
}
.endtime-title1 {
    margin-left: 5%;
    margin-top: 1%;
}

.begtime-area1 {
    margin-left: 5%;
    margin-top: -1%;
}

.endtime-text {
    margin-left: 5%;
    margin-top: -2%;
    width: 200px;
}

.begtime-text1 {
    width: 200px;
}

.maxp-area1 {
    margin-left: 25%;
    margin-top: -6%;
}

.max-text {
    width: 50px;
}

.submitevent {
    border: none;
    margin-top: 1%;
    width: 150px;
    height: 40px;
    margin-left: 84%;
}

.submitevent:hover {
    background: gray;
}

.valid1, .valid2, .valid3, .valid4, .valid5, .valid0 {
    position: absolute;
    font-size: small;
    color: red;
}
.valid1 {
    margin-left: 19%;
}
.valid2 {
    margin-left: 19%;
}
.valid4 {
    margin-left: 4%;
}
.valid0 {
    margin-left: 2%;
}