.bg-area {
    z-index: 0;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    height: 91.5%;
    margin-top: -0.6%;

}

.bg-area, .welcome-txt, .manageclb, .joinedclb, .notjoinedclb {
    position: absolute;
}

.welcome-form .welcome-txt {
    z-index: 1;
    color: rgb(133, 133, 133);
    padding: 3%;
    margin-top: 8%;
    margin-left: 22%;
    font-size: 60px;
}

.logobtn {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    border-radius: 50px;
    border: solid 2px gray;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.managebtn, .joinedbtn, .notjoinedbtn {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.managebtn:hover, .joinedbtn:hover, .notjoinedbtn:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px white;
}

.manageclb {
    width: 300px;
    margin-top: 20%;
    margin-left: 22.5%;
    border-right: solid 2px gray;
    padding: 30px;
    padding-left: 55px;
    background: rgb(184, 184, 184);
}

.joinedclb {
    width: 300px;
    margin-top: 20%;
    margin-left: 42%;
    border-right: solid 2px gray;
    padding: 30px;
    padding-left: 45px;
    background: rgb(184, 184, 184);
}

.notjoinedclb {
    padding-left: 65px;
    width: 305px;
    padding: 29.3px;
    margin-top: 20%;
    margin-left: 61.5%;
    background: rgb(184, 184, 184);
}

.logobtn {
    margin-left: 35%;
}



.addbtn:hover {
    text-decoration: none;
    background-color: wheat;
    color: #000;
  }
  
  .addbtn {
    position: absolute;
    border: solid 2px gray;
    color: black;
    margin-left: 87%;
    padding-inline: 5px;
  }

  .link {
    color: rgb(133, 133, 133);
  }