.detail-contain {
    width: 900px;
    height: 530px;
    border: solid 3px gray;
    margin-left: 35%;
    margin-top: 8%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.club-name {
    font-size: 30px;
    color: rgb(209, 209, 38);
    margin-left: 10%;
    margin-top: 5%;
}

.club-img {
    z-index: 0;
    width: 280px;
    height: 280px;
    margin-top: 1%;
    margin-left: 7%;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
}

.lead-text, .lead-name, .desc, .desc-detail {
    position: absolute;
}

.lead-text {
    margin-left: 35%;
    margin-top: 3%;
    font-size: 20px;
}

.lead-name {
    width: 300px;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 35%;
}

.desc {
    font-size: 20px;
    margin-top: 8%;
    margin-left: 35%;
}

.desc-detail {
    width: 300px;
    height: 150px;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 35%;
}

.club-name, .desc-detail, .lead-name {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.register-btn{
    background-color: #f7f321;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 25px 25px;
    cursor: pointer;
    margin-top: 41%;
    font-size: 18px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

.register-btn:hover {
    background-color: wheat;
}

.validation1, .validation2, .validation3 {
    position: absolute;
    font-size: small;
    color: red;
}

.name-area .validation1 {
    margin-left: 6%;
}

.unit-area .validation2 {
    margin-left: 36%;
    margin-top: 7.5%;
}

.desc-area .validation3 {
    margin-left: 36%;
    margin-top: 20%;
}

.img, .changeimg, .club-img {
    position: absolute;
}

.img, .changeimg {
    z-index: 1;
    margin-top: 20%;
    margin-left: 13%;
}

.img {
    border: solid 2px gray;
    background-color: yellow;
    padding-inline: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img:hover {
    background-color: wheat;
}

.cancel-btn{
    background-color: #f7f321;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 25px 25px;
    cursor: pointer;
    margin-top: 41%;
    font-size: 18px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

.cancel-btn:hover {
    background-color: wheat;
}