  .title {
    text-align: center;
    font-family: arial, sans-serif;
  }

  .table-link {
      text-decoration: none;
      color: black;
  }

  .club-form {
      width: 1200px;
      border: solid 3px gray;
      border-radius: 25px;
      margin-left: 10%;
      margin-top: 2%;
      box-shadow: 5px 5px 5px 5px gray;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
}

.delbtn {
    width: 25px;
    height:25px;
}

.table-name {
    font-size: 30px;
    color: gray;
    align-self: center;
    margin-left: 40%;
}

.btn-del {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.-pagination {
  height: 60px;
}

.-previous, .-next {
  height: 60px;
  color: black;
}

.-center .-pageInfo, .-pageJump, .-totalPages {
  height: 30px;
  font-size: 15px;
}

.-pageSizeOptions {
  height: 30px;
  font-size: 15px;
}