.avaadm {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid 2px gray;
  border-radius: 250px;
  margin-left: 3%;
  margin-top: 3%;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
}

.nameadm {
  width: 270px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-right: solid 2px gray;
  color:  black;
  font-size: 20px;
  margin-top: 11%;
  text-align: center;
  text-shadow: 15px 5px 5px 5px yellow;
}

.helo {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 15%;
}

.infoadm-group {
  border-right: solid 3px gray;
  width: 270px;
  height: 650px;
  margin-top: -3.5%;
  background-color: gray;
}

.adm-club {
  position: absolute;
  margin-top: -41%;
  margin-left: 23%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}