.avatar {
  position: absolute;
  margin-top: 8%;
  margin-left:30%;
  width: 300px;
  height: 350px;
  border: solid 2px gray;
}

.decos {
  position: absolute;
  background-color: rgb(255, 232, 203);
  width: 25%;
  height: 640px;
}

.decos .helo {
  margin-top: 30%;
  font-size: 60px;
}

.label {
  position: absolute;
  font-size: 25px;
  margin-top: 4%;
  margin-left: 28%;
}

.name {
  color: white;
  font-size: 35px;
  text-align: center;
  -webkit-text-stroke: 1px gray;
}

.pass-group, .newpass-group, .repass-group, .change-group, .logout, .ava, .changeava, .fullName-group, .gender-group, .dob-group, .gender-group {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullName-group {
  position: absolute;
  margin-top: 13%;
  margin-left: 53%;
}

.gender-group {
  position: absolute;
  margin-top: 16%;
  margin-left: 53%;
}

.dob-group {
  position: absolute;
  margin-top: 16%;
  margin-left: 53%;
}

.info-form .pass-group {
  position: absolute;
  margin-left: 53%;
  margin-top: 19%;
}

.sex {
  position: absolute;
  width: 50px;
  margin-left: 23.8%;
  border-radius: 10px;
  margin-top: -4.7%;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.info-form .newpass-group {
  position: absolute;
  margin-left: 53%;
  margin-top: 22%;
}

.info-form .repass-group {
  position: absolute;
  margin-left: 53%;
  margin-top: 25%;
}

.change-group {
  z-index: 3;
  margin-left: 55%;
  margin-top: 29%;
}

.fullName-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.gender-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.dob-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.pass-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.newpass-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.repass-label {
  font-size: 20px;
  color: rgb(116, 21, 21);
}

.oldpassword {
  width: 550px;
  height: 30px;
  margin-left: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.newpassword {
  width:550px;
  height: 30px;
  margin-left: 28px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.renewpassword {
  width: 467px;
  height: 30px;
  margin-left: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.fullName {
  width: 550px;
  height: 30px;
  margin-left: 66px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.gender-group .gender {
  width: 550px;
  height: 30px;
  margin-left: 79px;
  border-radius: 15px;
  border: solid 2px black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.dob-group .dob {
  width: 550px;
  height: 30px;
  margin-left: 65px;
  border-radius: 15px;
  border: solid 2px black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.info-form  .change-link {
  width: 250px;
  margin-left: 200px;
  margin-top: -90px;
  font-size: 20px;
  color: black;
  background: yellow;
  padding-inline: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.change-link:hover {
  background-color: antiquewhite;
}

.logout {
  position: absolute;
  border: 0;
  background-color: rgb(241, 167, 161);
  width: 100%;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: -0.7%;
}

.logout:hover {
  background-color: red;
}

.changeava, .ava {
  position: absolute;
  margin-top: 32%;
  margin-left: 37%;
}

.ava {
    border: solid 2px gray;
    background-color: yellow;
    padding-inline: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ava:hover {
    background-color: wheat;
}

.info-form .validation {
  margin-top: -1%;
}