.body1 {
    background: rgb(255, 255, 203);
    width: 120%;
    height: 1200px;
}

.detail-body {
    background: rgb(255, 255, 203);
}

.unit-area {
    margin-left: 80%;
}

.unit {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.body-one {
    background: rgb(255, 255, 229);
    border: solid 3px gray;
    width: 1200px;
    height: fit-content;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-top: 15px;
    box-shadow: 4px 4px 4px gray;

}

.event-img {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    margin-left: 6%;
    margin-top: 5%;
}

.view {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    margin-top: 8%;
}

.delete {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    margin-top: 40%;
    margin-left: -1px;
}

.event-one {
    width: 450px;
    height: 150px;
    border: solid 1px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 3%;
    margin-left: 7%;
    background: white;
}

.button-area {
    width: 50px;
    height: 125px;
    margin-left: 86%;
    margin-top: -24%;
    border: solid 2px rgb(67, 140, 223);
    border-radius: 200px;
    background:rgb(153, 198, 250);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.event-name {
    font-size: 20px;
    margin-left: 5%;
}

.chi-tiết {
    margin-left: 33%;
    margin-top: -10%;
}

.chi-tiết,.event-name {
    text-decoration: none;
}