.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }
  
  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    background-image: url("/src/image/chuong.png");
    background-position: 50% 50%;
    margin: 40px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 40px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    letter-spacing: 1px;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    font-size: 1.25rem;
    border-style: none;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    margin: 30px auto 40px;
    padding: 17px 81px 19px 79px;
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1008px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.75rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 902px;
    }
  
    .u-section-1 .u-image-1 {
      height: 340px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.75rem;
      margin-top: 30px;
    }
  }