.students td, .students th {
  border: 1px solid #fff;
  padding: 8px;
}

.students tr:nth-child(even){
  background-color: #666161;
}

.students tr:hover {background-color: #ddd;}

.students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000;
  color: rgb(255, 255, 255);
}
.title {
  text-align: center;
  font-family: arial, sans-serif;
}

.students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}
.button-group, .students {
  position: absolute;
}

.button-group {
  z-index: 1;
  margin-top: 2%;
  margin-left: 20%;
}

.event-btn {
  width: 200px;
  height: 40px;
  margin-left: 90px;
  border-radius: 20px;
  background: yellow;
  color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.event-btn:hover {
  background: wheat;
}

.students {
  width: 900px;
  height: auto;
  margin-top: 9%;
  margin-left: 20%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.member-link {
  text-decoration: none;
  color: black;
}