.group-info, .newfeed, .search {
    position: absolute;
}

.content-border {
    height: 9000px;
}

.group-info {
    z-index: 0;
    border-right: solid 2px rgb(231, 223, 223);
    width: 20%;
    height: 100%;
}

.nf-avatar {
    width: 70px;
    height: 70px;
    border: solid 2px gray;
    margin-top: 5%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.info-link {
    text-decoration: none;
    margin-left: 10%;
    margin-top: 5%;
}

.nf-home {
    color: rgb(230, 230, 1);
    margin-left: 43%;
    margin-top: -20%;
    font-size: 23px;
}

.get-event-list {
    text-decoration: none;
    margin-left: 25%;
}

.nf-get-event-list {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    border-radius: 50px;
    border: solid 2px gray;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nf-get-event-txt {
    color: black;
    margin-left: 50%;
    margin-top: -15%;
}

.nf-joined-gr {
    width: 50px;
    height: 50px;
    margin-top: 15%;
    border-radius: 50px;
    border: solid 2px gray;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.joined-group {
    text-decoration: none;
    margin-left: 25%;
}

.nf-joined-txt {
    color: black;
    margin-left: 50%;
    margin-top: -15%;
}

.nf-get-noti-gr {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    border-radius: 50px;
    border: solid 2px gray;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.get-noti-group {
    text-decoration: none;
    margin-left: 25%;
}

.nf-get-noti-txt {
    color: black;
    margin-left: 32%;
    margin-top: -15%;
}

.nf-not-joined-gr {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    border-radius: 50px;
    border: solid 2px gray;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.not-joined-group {
    text-decoration: none;
    margin-left: 25%;
}

.nf-not-joined-txt {
    color: black;
    margin-left: 50%;
    margin-top: -15%;
}

.newfeed {
    position: relative;
    margin-left: 29%;
    width: 750px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgb(228, 228, 228);
    padding: 2px;
    margin-top: -45.5%;
}

.sample {
    position: relative;
    width: 15%;
    margin-left: 79%;
    margin-top: 1%;
    box-shadow: 0px 0px 4px 4px rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-top: 5px;
}
.spname {
    margin-left: 37%;
    font-size: 22px;
}
.spimg {
    margin-top: -10%;
}
.spbtn {
    border: none;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 205px;
    height: 40px;
}
.spbtn:hover {
    background-color: rgb(179, 179, 179);
}
.search {
    position:sticky;
    margin-top: -377.8%;
    width: 15%;
    margin-left: 79%;
    box-shadow: 0px 0px 4px 4px rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.selectPrefix {
    border-radius: 5px;
    width: 210px;
    height: 25px;
    margin-left: 5%;
    margin-top: 5%;
    border: solid 2px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.searchbox {
    width: 210px;
    height: 25px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 5%;
}

.date-search {
    width: 210px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 5%;
}

.search-txt {
    margin-top: 10px;
    margin-left: 32%;
    margin-bottom: 3%;
    background-color: yellow;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-txt:hover {
    background-color: wheat;
}

.stt-box, .postbtn {
    position: absolute;
}

.sttimg-box, .postbtn {
    padding-bottom: 50px;
}
.stt-box {
    z-index: 0;
    width: 640px;
    height: 80px;
    border: solid 1px gray;
    border-radius: 8px;
    margin-left: 1%;
    margin-top: 10px;
}

.sttimg-btn {
    z-index: 1;
    background-image: url('/src/image/img.png');
    background-size: 45px 45px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sttimg-btn, .changesttimg, .sttimg, .delimg {
    position: absolute;
}

.sttimg-btn, .changesttimg {
    z-index: 0;
    margin-left: 79%;
    margin-top: 5%;
}

.sttimg {
    z-index: 1;
    width: 700px;
    height: 400px;
    margin-top: 12%;
    margin-left: 5%;
}

.delimg {
    z-index: 2;
    border: none;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-top: 13%;
    margin-left: 93%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.postbtn {
    z-index: 2;
    color: white;
    background-color: rgb(28, 76, 116);
    width: 80px;
    height: 80px;
    padding-top: 3%;
    margin-top: -5.3%;
    margin-left: 88%;
}

.postbtn:hover {
    background-color: rgb(42, 91, 182);
}

.posted {
    width: 750px;
    margin-top: 1%;
    margin-left: 29%;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px 4px rgb(228, 228, 228);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.authorAvtUrl {
    width: 70px;
    height: 70px;
    border-radius: 250px;
    border: solid 2px gray;
    margin-left: 4%;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
}

.authorFullName {
    font-size: 23px;
    color: skyblue;
}

.createdDate {
    font-size: 13px;
    margin-left: 15%;
    margin-top: -4%;
}

.posted .content {
    width: 720px;
    margin-left: 2%;
}

.imageUrl {
    width: 720px;
    height: 380px;
    border: solid 2px gray;
    margin-left: 2%;
}

.cmt {
    margin-top: 1%;
    border: solid 1px rgb(187, 236, 255);
    width: 730px;
    margin-left: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cmttxt {
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1%;
    width: 670px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.send {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: -100%;
}

.delpost {
    background: none;
    border: none;
    margin-left: 95%;
}

.cmts {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 90%;
}

.notible {
    margin-top: 10%;
    margin-left: 40%;
}

.w3-col-m3 {
    width: 320px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgb(228, 227, 227);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.w3-center {
    text-decoration: none;
    color: black;
    margin-left: 17%;
}

.w3-circle {
    width: 160px;
    height: 160px;
    border-radius: 500px;
    border: solid 1px gray;
    margin-left: 25%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.majorimg, .dobimg {
    width: 20px;
    height: 20px;
    margin-left: 10%;
    margin-top: -10px;
    margin-right: 5%;
}
.idimg {
    width: 15px;
    height: 15px;
    margin-left: 12%;
    margin-right: 5%;
}

.w3-card-w3-round {
    position: relative;
    width: 320px;
    margin-left: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgb(228, 227, 227);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 7px;
    background: rgb(150, 158, 170);
}

.w3-button-w3-block-w3-theme-l1-w3-left-align {
    color: white;

}
.btnic1, .btnic4 {
    width: 20px;
    height: 20px;
    margin-top: -7px;
    margin-left: 6%;
    margin-right: 5%;
}
.btnic2 {
    width: 25px;
    height: 25px;
    margin-top: -6px;
    margin-left: 5%;
    margin-right: 4.5%;
}
.btnic3 {
    margin-left: 7%;
    width: 15px;
    height: 15px;
    margin-top: -6px;
    margin-right: 6%;
}

.onleave {
    margin-left: 28%;
    margin-top: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.onleave:hover {
    background-color: antiquewhite;
}

.bodym {
    background: rgb(253, 253, 253);
    width: 1200%;
}

.w3-card-w3-round-w3-white-w3-hide-small {
    width: 320px;
    margin-left: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgb(228, 227, 227);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px;
}

.w3-tag-w3-small-w3-theme-d5, .w3-tag-w3-small-w3-theme-d4, .w3-tag-w3-small-w3-theme-d3, .w3-tag-w3-small-w3-theme-d2, .w3-tag-w3-small-w3-theme-d1, .w3-tag-w3-small-w3-theme-d, .w3-tag-w3-small-w3-theme-l1, .w3-tag-w3-small-w3-theme-l2 {
    font-size: 12px;
}
.w3-tag-w3-small-w3-theme-d5, .w3-tag-w3-small-w3-theme-d4, .w3-tag-w3-small-w3-theme-d3, .w3-tag-w3-small-w3-theme-d2, .w3-tag-w3-small-w3-theme-d1, .w3-tag-w3-small-w3-theme-d, .w3-tag-w3-small-w3-theme-l1, .w3-tag-w3-small-w3-theme-l2:hover {
background: rgb(219, 219, 238);;
}
.w3-tag-w3-small-w3-theme-d5 {
    color: white;
    background: rgb(67, 67, 141);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5%;
}
.w3-tag-w3-small-w3-theme-d4 {
    color: white;
    background: rgb(41, 41, 126);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-d3 {
    color: white;
    background: rgb(85, 85, 184);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-d2 {
    color: white;
    background: rgb(93, 93, 172);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-d1 {
    color: white;
    background: rgb(110, 110, 189);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-d{
    color: black;
    background: rgb(132, 132, 212);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-l1{
    color: black;
    background: rgb(185, 185, 233);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}
.w3-tag-w3-small-w3-theme-l2{
    color: black;
    background: rgb(203, 203, 243);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
}

.add1btn {
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-left: 6%;
}
.addevent {
    width: 20px;
    height: 20px;
    margin-right: 7%;
    margin-bottom: 2%;
}