  .title {
      text-align: center;
      font-family: arial, sans-serif;
    }
  
    .row-link {
        text-decoration: none;
        color: black;
    }
  
    .club-form {
        width: 1200px;
        border: solid 3px gray;
        border-radius: 25px;
        margin-left: 10%;
        margin-top: 2%;
        box-shadow: 5px 5px 5px 5px gray;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
  }

  .o-name {
    width: 1200px;
      font-size: 30px;
      color: gray;
      align-self: center;
      margin-left: 45%;
  }
  .line {
    margin-left: 12%;
    background: gray;
    width: 1200px;
  }

  .outgr {
    position: absolute;
    z-index: 1;
    border: none;
    width: 35px;
    height: 35px;
    background: none;
    margin-left: 17%;
    margin-top: -1%;
  }

  .item1 {
    border: solid 1px gray;
    width: 400px;
    height: 550px;
    margin-left: 5%;
    margin-top: 1%;
  }

  .joinbody .w3-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2%;
  }

  .item1 .w3-container-w3-white {
    margin-left: 7px;
  }

  .logoimg {
    width: 400px;
    height: 230px;
    border: solid 1px gray;
  }

  .joinbody {
    width: 1545px;
  }